@model Recipe
@{
    ViewBag.Title = "Home Page";
}


    <div class="panel-body" id="HomeRightSideText">
        <img src="~/images/Home.jpg" alt="Pic" width="420" />
    </div>
    <div class="panel-body" id="HomeLeftSideText">
        <h1>Smoothie Bowl Recipes</h1>
        <br>
        <p>That'll Make You Feel Like You're On Vacation</p>
        <p>Move over chia pudding, smoothie bowls are officially the healthy food world’s new breakfast star.</p>
    </div>



